{% extends "modules/base.html" %}

{% block title %}Chat{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}

{% block body %}
<main>

    <div id="messages" class="messages">
    </div>

    <div class="form">
        <input id="message" placeholder="Send a message in HawkChat" id="message" type="text">
        <button id="submit">Send</button>
    </div>

</main>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}