<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HawkHacks APP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <p> HAWK  HACKS</p>
        <div class = "log-in">
            <h1>Log in</h1>
            <span>
                <a href="{{url_for('switchSignup')}}" class="button">Don't have an account?</a>
            </span>
            </p>
            <form id = "loginForm">
                
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password"><br>
                <input type="submit" value="Login!"><br>
                
            </form>
            <p id="message"></p>
        </div>
        <script src="{{ url_for('static', filename='login.js') }}"></script>
            
    </body>
</html>