nav {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 60%;
    height: 60px;
    max-width: 1000px;
    border-radius: 5px;
    gap: 40px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
}

nav .menu {
    flex: 1;
    display: flex;
    gap: 50px;
    justify-content: center;
}

nav .branding {
    font-weight: 700;
    font-size: 30px;
}